<div class="content-section introduction">
    <div>
        <span class="feature-title " style=text-align:center;> Birthday Zone</span>
        <span></span>
    </div>
</div>

<p style=text-align:center;><b>Birthday Falling in June</b></p>

<div class="doc-tablewrapper">
    <table class="doc-table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Celebration Month</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Jagadeesh</td>
                <td>07-Jun</td>
                <td>June</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Kalyani</td>
                <td>02-Jun</td>
                <td>June</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Santhosh</td>
                <td>20-Jun</td>
                <td>June</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Shiva M</td>
                <td>19-Jun</td>
                <td>June</td>
            </tr>           
        </tbody>
    </table>
</div>