<div class="content-section introduction">
    <div>
        <span class="feature-title ">Welcome to IHS Tech Birthday Zone</span>
        <span></span>
    </div>
</div>

<p style=text-align:center;><b>Below is the IHS Tech employee list</b></p>

<div class="doc-tablewrapper">
    <table class="doc-table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Celebration Month</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Anand</td>
                <td>01-Jul-xxxx</td>
                <td>July</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Anil</td>
                <td>26-May-xxxx</td>
                <td>MAy</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Debraj</td>
                <td>20-Jul-xxxx</td>
                <td>July</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Hanisha</td>
                <td>21-Sep-xxxx</td>
                <td>September</td>
            </tr>
            <tr>
                <td>05</td>
                <td>Harish</td>
                <td>03-Jul-xxxx</td>
                <td>July</td>
            </tr>
            <tr>
                <td>06</td>
                <td>Jagadeesh</td>
                <td>07-Jun-xxxx</td>
                <td>June</td>
            </tr>
            <tr>
                <td>07</td>
                <td>Kalyani</td>
                <td>02-Jun-xxxx</td>
                <td>June</td>
            </tr>
            <tr>
                <td>08</td>
                <td>Karthik</td>
                <td>07-Feb-xxxx</td>
                <td>Febuary</td>
            </tr>
            <tr>
                <td>09</td>
                <td>Keerthi</td>
                <td>06-Nov-xxxx</td>
                <td>November</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Kiran</td>
                <td>08-Oct-xxxx</td>
                <td>October</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Nagaprasanna</td>
                <td>21-Jan-xxxx</td>
                <td>January</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Prakash</td>
                <td>31-Jan-xxxx</td>
                <td>January</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Preethi</td>
                <td>06-Feb-xxxx</td>
                <td>Febuary</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Raahi</td>
                <td>28-mar-xxxx</td>
                <td>March</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Raghav</td>
                <td>22-May-xxxx</td>
                <td>May</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Rajesh</td>
                <td>21-Sep-xxxx</td>
                <td>September</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Ramesh M.</td>
                <td>10-Aug-xxxx</td>
                <td>August</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Ramesh S.</td>
                <td>02-Feb-xxxx</td>
                <td>Febuary</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Ratna</td>
                <td>06-Feb-xxxx</td>
                <td>Febuary</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Rekha</td>
                <td>16-May-xxxx</td>
                <td>May</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Rohit</td>
                <td>01-May-xxxx</td>
                <td>May</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Sanjit</td>
                <td>25-Feb-xxxx</td>
                <td>Febuary</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Santhosh</td>
                <td>20-Jun-xxxx</td>
                <td>June</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Shambhuni</td>
                <td>08-Aug-xxxx</td>
                <td>August</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Shireesh</td>
                <td>14-Aug-xxxx</td>
                <td>August</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Shiva V.</td>
                <td>28-Sep-xxxx</td>
                <td>September</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Shiva M.</td>
                <td>19-Jun-xxxx</td>
                <td>June</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Siva</td>
                <td>02-Jul-xxxx</td>
                <td>July</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Sowjanya</td>
                <td>04-Jan-xxxx</td>
                <td>January</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Srikanth</td>
                <td>08-Apr-xxxx</td>
                <td>April</td>
            </tr>
            <tr>
                <td>31</td>
                <td>Suchithra</td>
                <td>16-Aug-xxxx</td>
                <td>August</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Sudheer</td>
                <td>05-Aug-xxxx</td>
                <td>August</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Uday</td>
                <td>30-Oct-xxxx</td>
                <td>October</td>
            </tr>
            <tr>
                <td>34</td>
                <td>Vasudha</td>
                <td>24-Dec-xxxx</td>
                <td>December</td>
            </tr>
            <tr>
                <td>35</td>
                <td>Vijay</td>
                <td>11-Oct-xxxx</td>
                <td>October</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Vijaya</td>
                <td>01-Aug-xxxx</td>
                <td>August</td>
            </tr>
            <tr>
                <td>37</td>
                <td>Vijaya R.</td>
                <td>30-May-xxxx</td>
                <td>May</td>
            </tr>
            <tr>
                <td>38</td>
                <td>Vineet</td>
                <td>16-Dec-xxxx</td>
                <td>December</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Vishi</td>
                <td>16-Dec-xxxx</td>
                <td>December</td>
            </tr>
        </tbody>
    </table>
</div>