<div class="content-section introduction">
    <div>
        <span class="feature-title " style=text-align:center;>Support</span>
        <span></span>
    </div>
</div>
<div class="content-section support">
    <div class="support-image">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <h3><b>Your Feedback is Valuable to Us</b></h3>
                <p>Your feedback is important to us. We value and appreciate your compliments, suggestions or
                    complaints in order to improve our services and the way we communicate.</p>

                <h3><b>We appreciate receiving compliments</b></h3>
                <p>If you are satisfied with the service you have received from us, please let us know. It helps us to
                    know that we are delivering our services effectively and provides us with an opportunity to
                    recognise team members who provide high quality service. Your compliment will be recorded and
                    referred to relevant staff and management. </p>

                <h3><b>We value your suggestions</b></h3>
                <p>We see suggestions as an opportunity to improve our services. Your suggestions are valuable to us
                    and will be considered as part of our ongoing activities to improve our services.
                </p>

                <h3><b>We are interested in hearing your complaints about our services</b></h3>
                <p>We are committed to provide services to the best of our abilities but we understand that issues may
                    occur. Don’t hesitate to share with us your feedback on any inconvenience you may have experienced
                    with our services.
                </p>

                <a class="home-button" href="mailto:sanjit.singh@shoregrp.com">SEND FEEDBACK</a>
            </div>
            <div class="ui-g-12 ui-md-6">
                <!-- <img alt="PRO" src="assets/showcase/images/home/icon-pro.svg"> -->
            </div>
        </div>
    </div>
    <br/><br/>
    <h3 style="margin-top:0px">Support on Call</h3>
    <p> Call us on +91878981996</p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <br />
</div>