<div class="content-section introduction">
    <div>
        <span class="feature-title" style=text-align:center;>Support</span>
        <span>Professional support for the specail People</span>
    </div>
</div>

<div class="content-section support">
    <div class="support-image">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <h3>BirthZone Support</h3>
                <p>With BirthZone , You can not do anything special but You can enjoy the Birthday :)</p>
                <a class="home-button" href="mailto:sanjit.singh@shoregrp.com">GET A QUOTE</a>
            </div>
            <div class="ui-g-12 ui-md-6">
                <!-- <img alt="PRO" src="assets/showcase/images/home/icon-pro.svg"> -->
            </div>
        </div>
    </div>

    <h3 style="margin-top:0px">Support on Call</h3>
    <p> Call us on +91878981996</p>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>