<div class="content-section introduction">
        <div>
            <span class="feature-title " style=text-align:center;> Birthday Zone</span>
            <span></span>
        </div>
    </div>
    
    <p style=text-align:center;><b>Expenditure for the Birthday</b></p>
    
    <div class="doc-tablewrapper">
        <table class="doc-table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Month-Year</th>
                    <th>Amount</th>
                    <th>Carry Forward</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>March-2017</td>
                    <td>3000</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>April-2017</td>
                    <td>3000</td>
                    <td>1300</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>May-2017</td>
                    <td>2835</td>
                    <td>2465</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>June-2017</td>
                    <td>4200</td>
                    <td>2065</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>July-2017</td>
                    <td>4110</td>
                    <td>2055</td>
                </tr>
                <tr>
                    <td>06</td>
                    <td>August-2017</td>
                    <td>5420</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>September-2017</td>
                    <td>Comming soon</td>
                    <td>Comming soon</td>
                </tr>
            </tbody>
        </table>
    </div>