<div class="home">
    <div class="introduction">
        <!-- <h1>Welcome to Birthday  Zone</h1>
        <h2>Only for IHS Tech</h2>-->        
        <br/>  <br/> <br/>  <br/>  <br/>   <br/>  <br/>  <br/>  <br/><br/>
        <br/>  <br/>  <br/>  <br/>   <br/> 
    <br/>
    <a class="home-button" [routerLink]="['/employee']">
        GET STARTED
    </a>
    </div>

    <div class="features">
        <h3>Why Birthday Zone?</h3>
        <p class="features-tagline">Congratulations! 🎉 You have a right Question.</p>

        <p class='features-description'>Birthday Zone is a platform specially made for the IHS Tech for the Birthday celebration 
            for the team Member and it contains all the data related to the Birthday like DOB, Contribution etc. along with the 
            Historical data. 
             Birthday zone is developed by <a href="mailto:sanjit.singh@shoregrp.com">Sanjit Kumar Singh.</a></p>

             <br/>  <br/>  <br/>  <br/>  
    </div>
</div>
